*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

li{
    padding: 2em;
    font-size: 2rem;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 217, 0);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5em 0;
   
}

header{
    
    background-image: url(../photos/Screaming.jpg); 
    
}

.container1{
    
    background-image: url(../photos/Screaming.jpg); 
    color: white;
    height: 40rem;
}

.container2{
    background-color: black;
    color: white;
}

h2{
    font-size: 3rem;
    padding-top: 2em;
    /* padding-left: 7.2em; */
    text-align: center;
}

.h2head{
    font-size: 2rem;
    padding-top: 2em;
    
}
h1{
    text-align: center;
    padding-top: 2em;
    font-size: 5em;
    text-shadow: 2px 2px 5px black;

}

.text1{
    
    padding-top: 1em;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
   
}

.text-1{
    text-align: center;
}

.button1{
    text-align: center; 
   
}

button{
    padding: 1em 3em;
    background-color: rgb(255, 217, 0);
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    margin-top: 1em;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    
    
}

button:hover{
    background-color: rgb(255, 162, 0);
}

.columns{
    margin: auto;
    display: flex;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;

    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-right: 2rem;
}

.item{
    padding: 2rem;
    justify-content: center;
    text-align: center;
    width: 50em;
}

.about-heading{
    color: white;
    background-image: url(../photos/new\ braxton.jpg);
    height: 7em;
    padding-top: 3em;
}

.about-bodytext{
    background-color: white;
    padding-bottom: 2em;
}


.bodyy{
    margin: auto;
    display: flex;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;

    padding-bottom: 4rem;
    padding-top: 2rem;
    padding-right: 10rem;
    padding-left: 10rem;

    font-size: 1.3rem;
}

.about-making{
    background-color: black;
    color: white;
    justify-content: left;
}

.bodyy2{
    justify-content: left;
    margin: auto;
    display: flex;
    justify-content: left;

    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;

    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: 10rem;
    padding-left: 10rem;

    font-size: 1.3rem;

}

.columns2{
    margin: auto;
    display: flex;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;

    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-right: 2rem;
}

.items2{
    padding: 2rem;
    justify-content: center;
    text-align: center;
    
}

.container3{
    background-color: red;
    height:3em
}

.text3{
    justify-content: left;
    margin: auto;
    display: flex;
    justify-content: left;

    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;

    padding-bottom: 1rem;
    padding-top: 2rem;
    padding-right: 10rem;
    padding-left: 10rem;

    font-size: 1.3rem;

    padding-bottom: 4em;

}

.button3{
    text-align: center;
    padding-bottom: 4em;
}

p{
    text-align: left;
}

h3{
    padding-bottom: 1rem;
    padding-top: .5rem;
    font-size: 2rem;
}

.container3main{
    /* height: 3rem; */
    background-color: white;
    color: black;
    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-right: 2rem;
    
    
}



.theevents{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3em;
    padding-bottom: 3em;
    align-items: center; */
    /* padding-right: 3em; */
    padding-bottom: 3rem;
    justify-content: center;
    width:50em;
   
    
   
}

.containerevents{
    display: flex;
    flex-wrap: wrap;
    padding-top: 4em;
    justify-content: center;

}

.mural{
    padding-left: 2em;
}







